In [1]:
import pandas as pd
from yelpapi import YelpAPI

# 1. Process columns

In [4]:
df = pd.read_csv("C:/Users/Anton/Documents/Anton_Gollbo/Skolarbete/projects/Hemnet_Housing/data/stockholm_housing_df_RAW.csv")

df['fee'] = df['fee'].str.rstrip(' kr/mån')

#Drop 'location' column, as it is redundant
df = df.drop(columns=["location"])

#Split size of apartment and number of rooms into separate columns
df[['size', 'rooms']] = df['size:rooms'].str.split("  ", 1, expand=True)
df = df.drop(columns=["size:rooms"])
#Clean up the columns size and room, removing m2 and "rum"
df['size'] = df['size'].str.rstrip('m²')
df["rooms"] = df["rooms"].str.rstrip(' rum')

#Split adress and floor of apt into separate columns
df[['adress', 'floor']] = df['adress'].str.split(",", 1, expand=True)

#Clean up sold_date, sale_price, value_dev, ppsqm
df["sold_date"] = df["sold_date"].str.lstrip('såld')
df["sale_price"] = df["sale_price"].str.lstrip('slutpris ')
df["sale_price"] = df["sale_price"].str.rstrip(' kr')
df["ppsqm"] = df["ppsqm"].str.rstrip(" kr/m²")
df["value_dev"] = df["value_dev"].str.rstrip(" %")
df["value_dev"] = df["value_dev"].str.lstrip("+")

# Introduce dummy variables in the following way: Balkong = 1, Hiss = 2, Balkong&Hiss = 3, Uteplats = 4
df["features"] = df.features.map( {'balkong':1 , 'hiss':2, 'balkong&hiss':3, 'uteplats': 4, 'NaN':5} )

#Remove everything except numerical values from floor
df['floor'] = df['floor'].str.extract('(\d+)', expand=False)

#Bug where value_dev ends up in wrong columns, due to old posting
bad_index = df[df["ppsqm"].str.find("%") != -1].index
df = df.drop(bad_index, axis=0)

column_list = ["ppsqm", "size", "rooms", "sale_price","fee"]

def fix_numeric(column_list, df):
    new_df = df.copy()
    for i in column_list: 
        new_df[i] = new_df[i].str.replace(" ", "")
        new_df[i] = pd.to_numeric(new_df[i] , errors='coerce')
        new_df = new_df.dropna(subset=[i])
        new_df[i] = new_df[i].astype('int')
    return new_df

cleaned_housing_df = fix_numeric(column_list,df.copy() )
#Reset index after removing rows
cleaned_housing_df = cleaned_housing_df.reset_index(drop=True)
#cleaned_housing_df.to_csv("stockholm_housing_df_CLEANED.csv",index=False)

In [5]:
cleaned_housing_df

,adress,fee,features,sale_price,sold_date,value_dev,ppsqm,district,size,rooms,floor
0,frejgatan 50,2391,1.0,6450000,15 januari 2022,NaN,153571,vasastan,42,2,None
1,rådmansgatan 86,2021,4.0,7200000,15 januari 2022,13,122034,vasastan,59,2,None
2,sankt eriksgatan 109,436,2.0,3150000,14 januari 2022,19,126000,vasastan,25,1,None
3,torsgatan 58,1733,2.0,3435000,14 januari 2022,15,110806,vasastan,31,1,1
4,torsplan 8,3950,3.0,10000000,14 januari 2022,11,153846,vasastan,65,3,9
...,...,...,...,...,...,...,...,...,...,...,...
10471,kammakargatan 70,1169,NaN,2800000,19 mars 2013,13,75676,norrmalm,37,2,3
10472,olofsgatan 18,917,NaN,2360000,28 februari 2013,8,73750,norrmalm,32,1,3
10473,regeringsgatan 70 d,3231,NaN,3600000,17 februari 2013,3,52174,norrmalm,69,3,None
10474,drottninggatan 80,2647,NaN,3250000,22 januari 2013,5,73864,norrmalm,44,2,3
10475,klara tvärgränd 5,2683,NaN,2725000,10 januari 2013,9,64881,norrmalm,42,2,7

# Yelp API calls

In [52]:
yelp_df = pd.read_csv("C:/Users/Anton/Documents/Anton_Gollbo/Skolarbete/projects/Hemnet_Housing/data/UNFINISHED_yelp_df_CLEANED.csv")

In [35]:
yelp_api = YelpAPI("KulP_1xAbhj4PcwcltixYR5hz4qMJ2aarTp4uNP_bBED4CsgP1nqY0bZrDxRMMSsZYwqvirOQ1Dy--6v3Y2yS4lBVPmfebDVdXGukr74OZEKRNoivTBiORBJ0v_iYXYx")

#A 'suggested search area' of 500 is used, although, the docs tell us the following: 
#This field is used as a suggestion to the search. The actual search radius may be lower 
#than the suggested radius in dense urban areas, and higher in regions of less business density
#hopefully, it does give some quantifiable value as to the 'closeness' to points of interest a apartment has

def get_POI(adress):
    input_adress = adress
    response = yelp_api.search_query(location=input_adress, radius=500, limit=1)
    return response

def get_yelp_values(df):
    try:
        for i in range(4992, len(df)):
            response = get_POI(df["adress"][i])
            print("Getting values from adress:", df["adress"][i], "from row: " , i)
            
            lat = ( response['region']['center']['latitude'] )
            long = ( response['region']['center']['longitude'] )
            POI = ( response['total'])
            df.at[i, 'Latitude'] = lat
            df.at[i, 'Longitude'] = long
            df.at[i, 'NearbyPOIs'] = POI
            
        return df
    except Exception as e:
        print(e)
        print("\n","error")
        i = i+1
get_yelp_values(yelp_df)

#DONE UNTIL 4991, go from 4992

#yelp_df.to_csv("UNFINISHED_yelp_df_CLEANED.csv",index=False)

Getting values from adress: linnégatan 51 from row:  4500
Getting values from adress: östermalmsgatan 81 from row:  4501
Getting values from adress: surbrunnsgatan 15 from row:  4502
Getting values from adress: valhallavägen 67 from row:  4503
Getting values from adress: karlavägen 54 from row:  4504
Getting values from adress: birger jarlsgatan 104 f from row:  4505
Getting values from adress: danderydsgatan 28a from row:  4506
Getting values from adress: valhallavägen 160 from row:  4507
Getting values from adress: östermalmsgatan 34 a from row:  4508
Getting values from adress: lützengatan 5 a from row:  4509
Getting values from adress: banérgatan 23 from row:  4510
Getting values from adress: valhallavägen 65 from row:  4511
Getting values from adress: valhallavägen 160 from row:  4512
Getting values from adress: birger jarlsgatan 120 from row:  4513
Getting values from adress: nybrogatan 54 from row:  4514
Getting values from adress: brahegatan 37 from row:  4515
Getting values from adress: nybrogatan 81 from row:  4516
Getting values from adress: ruddammsbacken 28 from row:  4517
Getting values from adress: surbrunnsgatan 8 from row:  4518
Getting values from adress: nybergsgatan 9 from row:  4519
Getting values from adress: tyskbagargatan 7 from row:  4520
Getting values from adress: floragatan 7 from row:  4521
Getting values from adress: valhallavägen 100 from row:  4522
Getting values from adress: karlavägen 54 from row:  4523
Getting values from adress: birger jarlsgatan 72 from row:  4524
Getting values from adress: skeppargatan 58 from row:  4525
Getting values from adress: sturegatan 12a - med tillhörande garageplats from row:  4526
Getting values from adress: sibyllegatan 11 from row:  4527
Getting values from adress: valhallavägen 104 from row:  4528
Getting values from adress: östermalmsgatan 68c from row:  4529
Getting values from adress: kommendörsgatan 33a from row:  4530
Getting values from adress: ruddammsbacken 28 from row:  4531
Getting values from adress: birger jarlsgatan 96 from row:  4532
Getting values from adress: banérgatan 17a from row:  4533
Getting values from adress: danderydsgatan 28b from row:  4534
Getting values from adress: valhallavägen 160 from row:  4535
Getting values from adress: stickelbärsvägen 5 from row:  4536
Getting values from adress: valhallavägen 174 from row:  4537
Getting values from adress: brahegatan 58 from row:  4538
Getting values from adress: rådmansgatan 25 b from row:  4539
Getting values from adress: oxenstiernsgatan 35 from row:  4540
Getting values from adress: gyllenstiernsgatan 18 from row:  4541
Getting values from adress: sibyllegatan 31 from row:  4542
Getting values from adress: jungfrugatan 43a from row:  4543
Getting values from adress: grevgatan 47 from row:  4544
Getting values from adress: banérgatan 50 from row:  4545
Getting values from adress: brahegatan 7b from row:  4546
Getting values from adress: styrmansgatan 16 b from row:  4547
Getting values from adress: eriksbergsgatan 12a from row:  4548
Getting values from adress: birger jarlsgatan 104l from row:  4549
Getting values from adress: riddargatan 54 a from row:  4550
Getting values from adress: banérgatan 25 a from row:  4551
Getting values from adress: skeppargatan 51 from row:  4552
Getting values from adress: linnégatan 39 a from row:  4553
Getting values from adress: körsbärsvägen 6 from row:  4554
Getting values from adress: valhallavägen 148d from row:  4555
Getting values from adress: linnégatan 39b from row:  4556
Getting values from adress: skeppargatan 21 from row:  4557
Getting values from adress: danderydsgatan 23 from row:  4558
Getting values from adress: birger jarlsgatan 104c from row:  4559
Getting values from adress: valhallavägen 36 from row:  4560
Getting values from adress: nybrogatan 57a from row:  4561
Getting values from adress: wittstocksgatan 3c from row:  4562
Getting values from adress: grevgatan 56 from row:  4563
Getting values from adress: banérgatan 23 from row:  4564
Getting values from adress: birger jarlsgatan 48 from row:  4565
Getting values from adress: valhallavägen 22c from row:  4566
Getting values from adress: jungfrugatan 43b from row:  4567
Getting values from adress: banérgatan 50 from row:  4568
Getting values from adress: nybrogatan 83 from row:  4569
Getting values from adress: tyskbagargatan 10 from row:  4570
Getting values from adress: birger jarlsgatan 104l from row:  4571
Getting values from adress: birger jarlsgatan 104k from row:  4572
Getting values from adress: storgatan 56a from row:  4573
Getting values from adress: banérgatan 50 from row:  4574
Getting values from adress: skeppargatan 29a from row:  4575
Getting values from adress: linnégatan 94 from row:  4576
Getting values from adress: nybrogatan 50 from row:  4577
Getting values from adress: skeppargatan 7 from row:  4578
Getting values from adress: grev magnigatan 3a from row:  4579
Getting values from adress: valhallavägen 146 c from row:  4580
Getting values from adress: brahegatan 37 from row:  4581
Getting values from adress: nybrogatan 76 from row:  4582
Getting values from adress: karlavägen 54 from row:  4583
Getting values from adress: styrmansgatan 16b from row:  4584
Getting values from adress: valhallavägen 69 from row:  4585
Getting values from adress: körsbärsvägen 6 from row:  4586
Getting values from adress: birger jarlsgatan 104 k from row:  4587
Getting values from adress: brahegatan 7d from row:  4588
Getting values from adress: brahegatan 7b from row:  4589
Getting values from adress: nybergsgatan 6b from row:  4590
Getting values from adress: jungfrugatan 19 from row:  4591
Getting values from adress: gumshornsgatan 12 from row:  4592
Getting values from adress: valhallavägen 152c from row:  4593
Getting values from adress: valhallavägen 40 from row:  4594
Getting values from adress: gyllenstiernsgatan 18 from row:  4595
Getting values from adress: sibyllegatan 44 from row:  4596
Getting values from adress: valhallavägen 172 from row:  4597
Getting values from adress: riddargatan 29a from row:  4598
Getting values from adress: valhallavägen 47 from row:  4599
Getting values from adress: riddargatan 38a from row:  4600
Getting values from adress: valhallavägen 53 from row:  4601
Getting values from adress: grevgatan 39 from row:  4602
Getting values from adress: kommendörsgatan 20b from row:  4603
Getting values from adress: odengatan 14 from row:  4604
Getting values from adress: oxenstiernsgatan 35 from row:  4605
Getting values from adress: linnégatan 20 from row:  4606
Getting values from adress: styrmansgatan 51a from row:  4607
Getting values from adress: styrmansgatan 49 from row:  4608
Getting values from adress: karlavägen 15b from row:  4609
Getting values from adress: grevgatan 19 ö.g from row:  4610
Getting values from adress: valhallavägen 80a from row:  4611
Getting values from adress: valhallavägen 90 from row:  4612
Getting values from adress: birger jarlsgatan 111b from row:  4613
Getting values from adress: nybergsgatan 8 from row:  4614
Getting values from adress: styrmansgatan 27 from row:  4615
Getting values from adress: gyllenstiernsgatan 18 from row:  4616
Getting values from adress: nybrogatan 19b from row:  4617
Getting values from adress: odengatan 6 from row:  4618
Getting values from adress: wittstocksgatan 19 from row:  4619
Getting values from adress: linnégatan 39b from row:  4620
Getting values from adress: storgatan 28 from row:  4621
Getting values from adress: valhallavägen 150c from row:  4622
Getting values from adress: valhallavägen 69 from row:  4623
Getting values from adress: linnégatan 42 from row:  4624
Getting values from adress: bältgatan 5 from row:  4625
Getting values from adress: styrmansgatan 37 a from row:  4626
Getting values from adress: karlavägen 121 from row:  4627
Getting values from adress: karlaplan 15b from row:  4628
Getting values from adress: skeppargatan 39 from row:  4629
Getting values from adress: odengatan 6 from row:  4630
Getting values from adress: gumshornsgatan 7 from row:  4631
Getting values from adress: nybrogatan 42 from row:  4632
Getting values from adress: östermalmsgatan 75 from row:  4633

Getting values from adress: östermalmsgatan 68b from row:  4634
Getting values from adress: narvavägen 33 a from row:  4635
Getting values from adress: skeppargatan 25 a from row:  4636
Getting values from adress: kommendörsgatan 24 from row:  4637
Getting values from adress: linnégatan 77a from row:  4638
Getting values from adress: karlavägen 4 from row:  4639
Getting values from adress: styrmansgatan 39 from row:  4640
Getting values from adress: grevgatan 42 from row:  4641
Getting values from adress: grevgatan 31 from row:  4642
Getting values from adress: sibyllegatan 26 from row:  4643
Getting values from adress: gumshornsgatan 6 from row:  4644
Getting values from adress: artillerigatan 29 from row:  4645
Getting values from adress: karlavägen 52 from row:  4646
Getting values from adress: karlavägen 52 from row:  4647
Getting values from adress: östermalmsgatan 67 from row:  4648
Getting values from adress: artillerigatan 63 from row:  4649
Getting values from adress: nybergsgatan 6 b from row:  4650
Getting values from adress: jungfrugatan 24 from row:  4651
Getting values from adress: körsbärsvägen 6 from row:  4652
Getting values from adress: valhallavägen 67 from row:  4653
Getting values from adress: riddargatan 25 from row:  4654
Getting values from adress: gyllenstiernsgatan 18 from row:  4655
Getting values from adress: grevgatan 28 from row:  4656
Getting values from adress: tyskbagargatan 10 from row:  4657
Getting values from adress: grevgatan 56 from row:  4658
Getting values from adress: grev magnigatan 10a from row:  4659
Getting values from adress: jungfrugatan 28 from row:  4660
Getting values from adress: östermalmsgatan 68b from row:  4661
Getting values from adress: rådmansgatan 15 from row:  4662
Getting values from adress: grevgatan 20 from row:  4663
Getting values from adress: stickelbärsvägen 4 from row:  4664
Getting values from adress: odengatan 18 from row:  4665
Getting values from adress: skeppargatan 22 from row:  4666
Getting values from adress: kommendörsgatan 33 a vånplan 1 from row:  4667
Getting values from adress: birger jarlsgatan 46b from row:  4668
Getting values from adress: riddargatan 42 ö.g from row:  4669
Getting values from adress: jungfrugatan 33 from row:  4670
Getting values from adress: kaptensgatan 3 from row:  4671
Getting values from adress: östermalmsgatan 81 from row:  4672
Getting values from adress: grevgatan 20c from row:  4673
Getting values from adress: gyllenstiernsgatan 3 from row:  4674
Getting values from adress: styrmansgatan 13 from row:  4675
Getting values from adress: artillerigatan 81 from row:  4676
Getting values from adress: brahegatan 19 from row:  4677
Getting values from adress: grevgatan 23c from row:  4678
Getting values from adress: styrmansgatan 17 a from row:  4679
Getting values from adress: odengatan 18a from row:  4680
Getting values from adress: linnégatan 51 from row:  4681
Getting values from adress: riddargatan 51 from row:  4682
Getting values from adress: jungfrugatan 52 from row:  4683
Getting values from adress: grevgatan 65 from row:  4684
Getting values from adress: karlavägen 84 from row:  4685
Getting values from adress: styrmansgatan 37 from row:  4686
Getting values from adress: valhallavägen 46 from row:  4687
Getting values from adress: valhallavägen 174 from row:  4688
Getting values from adress: storgatan 46 from row:  4689
Getting values from adress: nybrogatan 73 a from row:  4690
Getting values from adress: artillerigatan 56 from row:  4691
Getting values from adress: skeppargatan 20b from row:  4692
Getting values from adress: sturegatan 19 from row:  4693
Getting values from adress: ulrikagatan 9 from row:  4694
Getting values from adress: oxenstiernsgatan 33 from row:  4695
Getting values from adress: birger jarlsgatan 46b from row:  4696
Getting values from adress: artillerigatan 53 from row:  4697
Getting values from adress: runebergsgatan 9 from row:  4698
Getting values from adress: karlavägen 90a from row:  4699
Getting values from adress: birger jarlsgatan 104g from row:  4700
Getting values from adress: grev magnigatan 10 from row:  4701
Getting values from adress: birger jarlsgatan 110a from row:  4702
Getting values from adress: eriksbergsgatan 28 from row:  4703
Getting values from adress: grev magnigatan 13 from row:  4704
Getting values from adress: karlaplan 15a from row:  4705
Getting values from adress: nybrogatan 57 from row:  4706
Getting values from adress: artillerigatan 40 a from row:  4707
Getting values from adress: karlavägen 11 from row:  4708
Getting values from adress: linnégatan 56 from row:  4709
Getting values from adress: grev turegatan 59 c from row:  4710
Getting values from adress: wittstocksgatan 28 from row:  4711
Getting values from adress: linnégatan 31 from row:  4712
Getting values from adress: östermalmsgatan 61 from row:  4713
Getting values from adress: östermalmsgatan 68a from row:  4714
Getting values from adress: karlavägen 54 from row:  4715
Getting values from adress: wittstocksgatan 2 from row:  4716
Getting values from adress: brahegatan 7d from row:  4717
Getting values from adress: gyllenstiernsgatan 19 from row:  4718
Getting values from adress: karlavägen 88a from row:  4719
Getting values from adress: danderydsgatan 23 from row:  4720
Getting values from adress: wittstocksgatan 19 from row:  4721
Getting values from adress: styrmansgatan 13 from row:  4722
Getting values from adress: karlavägen 54 from row:  4723
Getting values from adress: styrmansgatan 43 from row:  4724
Getting values from adress: skeppargatan 21 a from row:  4725
Getting values from adress: nybrogatan 81 from row:  4726
Getting values from adress: karlavägen 46 from row:  4727
Getting values from adress: skeppargatan 52 from row:  4728
Getting values from adress: nybrogatan 65 from row:  4729
Getting values from adress: grevgatan 20 b from row:  4730
Getting values from adress: eriksbergsgatan 42 from row:  4731
Getting values from adress: linnégatan 42 from row:  4732
Getting values from adress: artillerigatan 53 from row:  4733
Getting values from adress: floragatan 7 from row:  4734
Getting values from adress: grevgatan 65 from row:  4735
Getting values from adress: floragatan 7 from row:  4736
Getting values from adress: fryxellsgatan 1 a from row:  4737
Getting values from adress: rådmansgatan 1b from row:  4738
Getting values from adress: kungstensgatan 3 from row:  4739
Getting values from adress: karlaplan 17a from row:  4740
Getting values from adress: brahegatan 62 from row:  4741
Getting values from adress: grev magnigatan 11 c from row:  4742
Getting values from adress: sibyllegatan 50 a from row:  4743
Getting values from adress: grev magnigatan 5 from row:  4744
Getting values from adress: karlavägen 6 from row:  4745
Getting values from adress: linnégatan 16 from row:  4746
Getting values from adress: birger jarlsgatan 114 from row:  4747
Getting values from adress: linnégatan 60 from row:  4748
Getting values from adress: valhallavägen 131 from row:  4749
Getting values from adress: riddargatan 11b from row:  4750
Getting values from adress: lützengatan 12a from row:  4751
Getting values from adress: verdandigatan 3 from row:  4752
Getting values from adress: floragatan 7 from row:  4753
Getting values from adress: banérgatan 44 from row:  4754
Getting values from adress: grevgatan 19 from row:  4755
Getting values from adress: strandvägen 59 from row:  4756
Getting values from adress: jungfrugatan 41 from row:  4757
Getting values from adress: grev turegatan 25 from row:  4758
Getting values from adress: birger jarlsgatan 114 from row:  4759
Getting values from adress: danderydsgatan 30 from row:  4760
Getting values from adress: styrmansgatan 37 a from row:  4761
Getting values from adress: grev turegatan 8 b from row:  4762
Getting values from adress: riddargatan 3a from row:  4763
Getting values from adress: ruddammsbacken 28 from row:  4764
Getting values from adress: storgatan 34 from row:  4765
Getting values from adress: kaptensgatan 9 from row:  4766
Getting values from adress: floragatan 7 from row:  4767
Getting values from adress: karlavägen 121 from row:  4768
Getting values from adress: verdandigatan 3 from row:  4769

Getting values from adress: runebergsgatan 9 from row:  4770
Getting values from adress: grev magnigatan 8 from row:  4771
Getting values from adress: karlavägen 20 from row:  4772
Getting values from adress: karlavägen 75b from row:  4773
Getting values from adress: skeppargatan 28 from row:  4774
Getting values from adress: artillerigatan 65 from row:  4775
Getting values from adress: grevgatan 12 from row:  4776
Getting values from adress: valhallavägen 12a from row:  4777
Getting values from adress: karlavägen 82 from row:  4778
Getting values from adress: artillerigatan 75 from row:  4779
Getting values from adress: narvavägen 8 from row:  4780
Getting values from adress: östermalmsgatan 62 from row:  4781
Getting values from adress: valhallavägen 34 from row:  4782
Getting values from adress: ruddammsbacken 28 from row:  4783
Getting values from adress: wittstocksgatan 3c from row:  4784
Getting values from adress: skeppargatan 6a from row:  4785
Getting values from adress: grevgatan 22 from row:  4786
Getting values from adress: styrmansgatan 7 from row:  4787
Getting values from adress: valhallavägen 174 from row:  4788
Getting values from adress: lützengatan 1 from row:  4789
Getting values from adress: lützengatan 1 from row:  4790
Getting values from adress: danderydsgatan 30a from row:  4791
Getting values from adress: valhallavägen 160 from row:  4792
Getting values from adress: ulrikagatan 7 from row:  4793
Getting values from adress: storgatan 48 from row:  4794
Getting values from adress: valhallavägen 34 from row:  4795
Getting values from adress: ruddammsbacken 28 from row:  4796
Getting values from adress: östermalmsgatan 67 from row:  4797
Getting values from adress: lill-jans plan 1 from row:  4798
Getting values from adress: valhallavägen 80 from row:  4799
Getting values from adress: valhallavägen 152b from row:  4800
Getting values from adress: östermalmsgatan 75 from row:  4801
Getting values from adress: grevgatan 22 from row:  4802
Getting values from adress: grev turegatan 60 from row:  4803
Getting values from adress: iversonsgatan 6 from row:  4804
Getting values from adress: valhallavägen 152b from row:  4805
Getting values from adress: kaptensgatan 15a from row:  4806
Getting values from adress: karlaplan 19 a from row:  4807
Getting values from adress: strandvägen 19 from row:  4808
Getting values from adress: grevgatan 25 from row:  4809
Getting values from adress: styrmansgatan 13 from row:  4810
Getting values from adress: drottning kristinas väg 11 from row:  4811
Getting values from adress: skeppargatan 84 from row:  4812
Getting values from adress: kommendörsgatan 19 from row:  4813
Getting values from adress: storgatan 30 a from row:  4814
Getting values from adress: artillerigatan 43 from row:  4815
Getting values from adress: runebergsgatan 11 from row:  4816
Getting values from adress: valhallavägen 38 from row:  4817
Getting values from adress: nybrogatan 63 from row:  4818
Getting values from adress: ulrikagatan 5 from row:  4819
Getting values from adress: linnégatan 51 from row:  4820
Getting values from adress: floragatan 11 from row:  4821
Getting values from adress: riddargatan 38 a from row:  4822
Getting values from adress: almlöfsgatan 3 from row:  4823
Getting values from adress: linnégatan 65 from row:  4824
Getting values from adress: rådmansgatan 19 from row:  4825
Getting values from adress: valhallavägen 52 from row:  4826
Getting values from adress: rådmansgatan 25 a from row:  4827
Getting values from adress: eriksbergsgatan 12 from row:  4828
Getting values from adress: karlaplan 18 from row:  4829
Getting values from adress: taptogatan 4 from row:  4830
Getting values from adress: grev magnigatan 17c ö.g. from row:  4831
Getting values from adress: valhallavägen 69 from row:  4832
Getting values from adress: karlaplan 21 c from row:  4833
Getting values from adress: valhallavägen 146 b from row:  4834
Getting values from adress: grev turegatan 64 from row:  4835
Getting values from adress: banérgatan 44 from row:  4836
Getting values from adress: sibyllegatan 42 from row:  4837
Getting values from adress: gyllenstiernsgatan 19 from row:  4838
Getting values from adress: riddargatan 39 from row:  4839
Getting values from adress: grevgatan 48 from row:  4840
Getting values from adress: nybrogatan 68 from row:  4841
Getting values from adress: storgatan 32 from row:  4842
Getting values from adress: östermalmsgatan 68e from row:  4843
Getting values from adress: tyskbagargatan 9 from row:  4844
Getting values from adress: karlavägen 9 from row:  4845
Getting values from adress: jungfrugatan 41 a from row:  4846
Getting values from adress: riddargatan 45 from row:  4847
Getting values from adress: danderydsgatan 28a from row:  4848
Getting values from adress: brahegatan 29 from row:  4849
Getting values from adress: storgatan 32 from row:  4850
Getting values from adress: skeppargatan 3 from row:  4851
Getting values from adress: värtavägen 4 from row:  4852
Getting values from adress: nybrogatan 73 from row:  4853
Getting values from adress: wittstocksgatan 19 from row:  4854
Getting values from adress: nybergsgatan 11 from row:  4855
Getting values from adress: odengatan 18 from row:  4856
Getting values from adress: grevgatan 53 from row:  4857
Getting values from adress: nybrogatan 68 from row:  4858
Getting values from adress: eriksbergsgatan 26 from row:  4859
Getting values from adress: engelbrektsgatan 16 from row:  4860
Getting values from adress: sibyllegatan 83 from row:  4861
Getting values from adress: floragatan 17a from row:  4862
Getting values from adress: grev magnigatan 8 from row:  4863
Getting values from adress: birger jarlsgatan 106 a from row:  4864
Getting values from adress: banérgatan 41 from row:  4865
Getting values from adress: sibyllegatan 33 from row:  4866
Getting values from adress: surbrunnsgatan 17 from row:  4867
Getting values from adress: artillerigatan 26 from row:  4868
Getting values from adress: riddargatan 21 from row:  4869
Getting values from adress: linnégatan 60 from row:  4870
Getting values from adress: eriksbergsgatan 26 bv from row:  4871
Getting values from adress: grevgatan 12 from row:  4872
Getting values from adress: sibyllegatan 43 from row:  4873
Getting values from adress: storgatan 30 a from row:  4874
Getting values from adress: artillerigatan 56 from row:  4875
Getting values from adress: östermalmsgatan 67b from row:  4876
Getting values from adress: riddargatan 60 from row:  4877
Getting values from adress: gumshornsgatan 7 from row:  4878
Getting values from adress: lill-jans plan 3a from row:  4879
Getting values from adress: karlavägen 86 from row:  4880
Getting values from adress: breitenfeldsgatan 5 from row:  4881
Getting values from adress: kommendörsgatan 8h from row:  4882
Getting values from adress: brahegatan 50 from row:  4883
Getting values from adress: birger jarlsgatan 104 k from row:  4884
Getting values from adress: brahegatan 33 from row:  4885
Getting values from adress: birger jarlsgatan 100 from row:  4886
Getting values from adress: nybrogatan 38b from row:  4887
Getting values from adress: valhallavägen 158 from row:  4888
Getting values from adress: iversonsgatan 2 from row:  4889
Getting values from adress: oxenstiernsgatan 33 from row:  4890
Getting values from adress: narvavägen 5 from row:  4891
Getting values from adress: valhallavägen 67 from row:  4892
Getting values from adress: valhallavägen 92 from row:  4893
Getting values from adress: karlaplan 17a from row:  4894
Getting values from adress: riddargatan 25 from row:  4895
Getting values from adress: danderydsgatan 30a from row:  4896
Getting values from adress: sibyllegatan 40 from row:  4897
Getting values from adress: nybergsgatan 8. fast pris! from row:  4898
Getting values from adress: rådmansgatan 8 from row:  4899
Getting values from adress: östermalmsgatan 21 from row:  4900
Getting values from adress: jungfrugatan 33 from row:  4901
Getting values from adress: grev turegatan 52a from row:  4902
Getting values from adress: karlavägen 20b from row:  4903
Getting values from adress: riddargatan 45 from row:  4904
Getting values from adress: sibyllegatan 51 from row:  4905

Getting values from adress: valhallavägen 50 from row:  4906
Getting values from adress: frejgatan 4 from row:  4907
Getting values from adress: skeppargatan 39a from row:  4908
Getting values from adress: riddargatan 76 from row:  4909
Getting values from adress: rådmansgatan 3 from row:  4910
Getting values from adress: linnégatan 19 from row:  4911
Getting values from adress: styrmansgatan 51 a from row:  4912
Getting values from adress: lill-jans plan 6 ö.g from row:  4913
Getting values from adress: grevgatan 47 from row:  4914
Getting values from adress: surbrunnsgatan 9 from row:  4915
Getting values from adress: valhallavägen 158 from row:  4916
Getting values from adress: banérgatan 31 a from row:  4917
Getting values from adress: linnégatan 17 from row:  4918
Getting values from adress: styrmansgatan 50 from row:  4919
Getting values from adress: frejgatan 3 from row:  4920
Getting values from adress: grevgatan 26 from row:  4921
Getting values from adress: birger jarlsgatan 104h from row:  4922
Getting values from adress: karlavägen 61 from row:  4923
Getting values from adress: cardellgatan 4 from row:  4924
Getting values from adress: linnégatan 39b from row:  4925
Getting values from adress: grevgatan 24 from row:  4926
Getting values from adress: grev magnigatan 8 from row:  4927
Getting values from adress: grevgatan 23 2 tr from row:  4928
Getting values from adress: sturegatan 44 c from row:  4929
Getting values from adress: linnégatan 92 from row:  4930
Getting values from adress: skeppargatan 28 from row:  4931
Getting values from adress: sibyllegatan 11 a from row:  4932
Getting values from adress: rådmansgatan 23 from row:  4933
Getting values from adress: kommendörsgatan 40 from row:  4934
Getting values from adress: styrmansgatan 53 from row:  4935
Getting values from adress: brahegatan 37 from row:  4936
Getting values from adress: brahegatan 58 from row:  4937
Getting values from adress: valhallavägen 69 from row:  4938
Getting values from adress: sibyllegatan 14 from row:  4939
Getting values from adress: skeppargatan 11 from row:  4940
Getting values from adress: karlavägen 7 from row:  4941
Getting values from adress: kommendörsgatan 33a from row:  4942
Getting values from adress: eriksbergsgatan 36 from row:  4943
Getting values from adress: karlavägen 59d from row:  4944
Getting values from adress: riddargatan 28 from row:  4945
Getting values from adress: värtavägen 16 from row:  4946
Getting values from adress: linnégatan 8 from row:  4947
Getting values from adress: lill-jans plan 8 from row:  4948
Getting values from adress: surbrunnsgatan 8 from row:  4949
Getting values from adress: danderydsgatan 25 from row:  4950
Getting values from adress: östermalmsgatan 31 from row:  4951
Getting values from adress: nybrogatan 15 from row:  4952
Getting values from adress: narvavägen 27 from row:  4953
Getting values from adress: banérgatan 53 from row:  4954
Getting values from adress: bältgatan 5 from row:  4955
Getting values from adress: lützengatan 12 from row:  4956
Getting values from adress: karlavägen 46 from row:  4957
Getting values from adress: birger jarlsgatan 104d from row:  4958
Getting values from adress: grev magnigatan 10a from row:  4959
Getting values from adress: valhallavägen 22b from row:  4960
Getting values from adress: breitenfeldsgatan 1 from row:  4961
Getting values from adress: nybrogatan 50 from row:  4962
Getting values from adress: grevgatan 53 from row:  4963
Getting values from adress: sturegatan 42 from row:  4964
Getting values from adress: brahegatan 19 from row:  4965
Getting values from adress: nybrogatan 75 c from row:  4966
Getting values from adress: grev magnigatan 10 a vån 3 av 3 ö.g. from row:  4967
Getting values from adress: linnégatan 17 from row:  4968
Getting values from adress: styrmansgatan 55 from row:  4969
Getting values from adress: valhallavägen 148 c from row:  4970
Getting values from adress: sibyllegatan 54 from row:  4971
Getting values from adress: jungfrugatan 21 from row:  4972
Getting values from adress: sibyllegatan 40 from row:  4973
Getting values from adress: grev turegatan 52 a from row:  4974
Getting values from adress: linnégatan 67 from row:  4975
Getting values from adress: brahegatan 48 from row:  4976
Getting values from adress: artillerigatan 57 from row:  4977
Getting values from adress: sibyllegatan 83 from row:  4978
Getting values from adress: ingemarsgatan 1a from row:  4979
Getting values from adress: brahegatan 44 from row:  4980
Getting values from adress: grevgatan 47 a from row:  4981
Getting values from adress: rådmansgatan 3 from row:  4982
Getting values from adress: riddargatan 51 from row:  4983
Getting values from adress: brahegatan 48 from row:  4984
Getting values from adress: valhallavägen 82 from row:  4985
Getting values from adress: surbrunnsgatan 4 from row:  4986
Getting values from adress: karlaplan 15a from row:  4987
Getting values from adress: styrmansgatan 14 from row:  4988
Getting values from adress: grev turegatan 69 from row:  4989
Getting values from adress: sturegatan 12 from row:  4990
Getting values from adress: wittstocksgatan 10 from row:  4991
ACCESS_LIMIT_REACHED: You've reached the access limit for this client. See instructions for requesting a higher access limit at https://www.yelp.com/developers/documentation/v3/rate_limiting

 error

In [53]:
yelp_df

,adress,fee,features,sale_price,sold_date,value_dev,ppsqm,district,size,rooms,floor,Latitude,Longitude,NearbyPOIs
0,frejgatan 50,2391,1.0,6450000,15 januari 2022,NaN,153571,vasastan,42,2,NaN,59.344004,18.043671,82.0
1,rådmansgatan 86,2021,4.0,7200000,15 januari 2022,13,122034,vasastan,59,2,NaN,59.338402,18.049850,86.0
2,sankt eriksgatan 109,436,2.0,3150000,14 januari 2022,19,126000,vasastan,25,1,NaN,59.345404,18.039551,60.0
3,torsgatan 58,1733,2.0,3435000,14 januari 2022,15,110806,vasastan,31,1,1.0,59.343304,18.036118,110.0
4,torsplan 8,3950,3.0,10000000,14 januari 2022,11,153846,vasastan,65,3,9.0,59.345754,18.034058,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,kammakargatan 70,1169,NaN,2800000,19 mars 2013,13,75676,norrmalm,37,2,3.0,NaN,NaN,NaN
10472,olofsgatan 18,917,NaN,2360000,28 februari 2013,8,73750,norrmalm,32,1,3.0,NaN,NaN,NaN
10473,regeringsgatan 70 d,3231,NaN,3600000,17 februari 2013,3,52174,norrmalm,69,3,NaN,NaN,NaN,NaN
10474,drottninggatan 80,2647,NaN,3250000,22 januari 2013,5,73864,norrmalm,44,2,3.0,NaN,NaN,NaN
10475,klara tvärgränd 5,2683,NaN,2725000,10 januari 2013,9,64881,norrmalm,42,2,7.0,NaN,NaN,NaN