In [2]:
import sqlite3 as db
import pandas as pd

In [14]:
df = pd.read_csv("C:/Users/Anton/Documents/Anton_Gollbo/Skolarbete/projects/Hemnet_Housing/data/UNFINISHED_yelp_df_CLEANED2.csv")
df2 = pd.read_csv("C:/Users/Anton/Documents/Anton_Gollbo/Skolarbete/projects/Hemnet_Housing/data/hemnet_housing_yelp_csv.csv")

df = df.append(df2)

df.drop_duplicates()
df.to_csv("hemnet_housing_yelp.csv")

In [6]:
path = "C:/Users/Anton/Documents/Anton_Gollbo/Skolarbete/projects/Hemnet_Housing/data"

conn = db.connect(f"{path}/hemnet_database.db")
c = conn.cursor()

c.execute("CREATE TABLE housing_objects (id INTEGER PRIMARY KEY, adress NVARCHAR(100), fee INTEGER, features )")

NameError: name 'path' is not defined

In [4]:
df

,adress,fee,features,sale_price,sold_date,value_dev,ppsqm,district,size,rooms,floor,Latitude,Longitude,NearbyPOIs
0,frejgatan 50,2391,1.0,6450000,15 januari 2022,NaN,153571,vasastan,42,2,NaN,59.344004,18.043671,82.0
1,rådmansgatan 86,2021,4.0,7200000,15 januari 2022,13,122034,vasastan,59,2,NaN,59.338402,18.049850,86.0
2,sankt eriksgatan 109,436,2.0,3150000,14 januari 2022,19,126000,vasastan,25,1,NaN,59.345404,18.039551,60.0
3,torsgatan 58,1733,2.0,3435000,14 januari 2022,15,110806,vasastan,31,1,1.0,59.343304,18.036118,110.0
4,torsplan 8,3950,3.0,10000000,14 januari 2022,11,153846,vasastan,65,3,9.0,59.345754,18.034058,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,kammakargatan 70,1169,NaN,2800000,19 mars 2013,13,75676,norrmalm,37,2,3.0,59.336651,18.051910,80.0
10472,olofsgatan 18,917,NaN,2360000,28 februari 2013,8,73750,norrmalm,32,1,3.0,59.337351,18.060837,240.0
10473,regeringsgatan 70 d,3231,NaN,3600000,17 februari 2013,3,52174,norrmalm,69,3,NaN,59.336651,18.069077,229.0
10474,drottninggatan 80,2647,NaN,3250000,22 januari 2013,5,73864,norrmalm,44,2,3.0,59.335250,18.060150,240.0
10475,klara tvärgränd 5,2683,NaN,2725000,10 januari 2013,9,64881,norrmalm,42,2,7.0,59.330347,18.064270,218.0

In [5]:
df.drop_duplicates()

,adress,fee,features,sale_price,sold_date,value_dev,ppsqm,district,size,rooms,floor,Latitude,Longitude,NearbyPOIs
0,frejgatan 50,2391,1.0,6450000,15 januari 2022,NaN,153571,vasastan,42,2,NaN,59.344004,18.043671,82.0
1,rådmansgatan 86,2021,4.0,7200000,15 januari 2022,13,122034,vasastan,59,2,NaN,59.338402,18.049850,86.0
2,sankt eriksgatan 109,436,2.0,3150000,14 januari 2022,19,126000,vasastan,25,1,NaN,59.345404,18.039551,60.0
3,torsgatan 58,1733,2.0,3435000,14 januari 2022,15,110806,vasastan,31,1,1.0,59.343304,18.036118,110.0
4,torsplan 8,3950,3.0,10000000,14 januari 2022,11,153846,vasastan,65,3,9.0,59.345754,18.034058,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,kammakargatan 70,1169,NaN,2800000,19 mars 2013,13,75676,norrmalm,37,2,3.0,59.336651,18.051910,80.0
10472,olofsgatan 18,917,NaN,2360000,28 februari 2013,8,73750,norrmalm,32,1,3.0,59.337351,18.060837,240.0
10473,regeringsgatan 70 d,3231,NaN,3600000,17 februari 2013,3,52174,norrmalm,69,3,NaN,59.336651,18.069077,229.0
10474,drottninggatan 80,2647,NaN,3250000,22 januari 2013,5,73864,norrmalm,44,2,3.0,59.335250,18.060150,240.0
10475,klara tvärgränd 5,2683,NaN,2725000,10 januari 2013,9,64881,norrmalm,42,2,7.0,59.330347,18.064270,218.0